In [1]:
import panda as pd
csv_url = './Iris.csv'
iris = pd.read_csv(csv_url, header = None)
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
iris = pd.read_csv(csv_url, names = col_names)
iris.head(n=5)

ModuleNotFoundError: No module named 'panda'

In [2]:
import pandas as pd
csv_url = './Iris.csv'
iris = pd.read_csv(csv_url, header = None)
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
iris = pd.read_csv(csv_url, names = col_names)
iris.head(n=5)

     Sepal_Length   Sepal_Width   Petal_Length   Petal_Width      Species
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa

In [3]:
iris.tail(n=6)

    Sepal_Length Sepal_Width Petal_Length Petal_Width         Species
145          6.7         3.3          5.7         2.5  Iris-virginica
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

In [4]:
iris.indx

AttributeError: 'DataFrame' object has no attribute 'indx'

In [5]:
iris.index

Index(['Id', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '141', '142', '143', '144', '145', '146', '147', '148', '149', '150'],
      dtype='object', length=151)

In [6]:
iris.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [7]:
iris.shape

(151, 5)

In [8]:
iriis.dtypes

NameError: name 'iriis' is not defined

In [9]:
iris.dtypes

Sepal_Length    object
Sepal_Width     object
Petal_Length    object
Petal_Width     object
Species         object
dtype: object

In [10]:
iris.columns.values

array(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'], dtype=object)

In [11]:
iris.describe(include='all')

       Sepal_Length Sepal_Width Petal_Length Petal_Width      Species
count           151         151          151         151          151
unique           36          24           44          23            4
top             5.0         3.0          1.5         0.2  Iris-setosa
freq             10          26           14          28           50

In [12]:
iris['Petal_Length']

Id     PetalLengthCm
1                1.4
2                1.4
3                1.3
4                1.5
           ...
146              5.2
147              5.0
148              5.2
149              5.4
150              5.1
Name: Petal_Length, Length: 151, dtype: object

In [13]:
iris.sort_index(axis=1,ascending=False)

            Species   Sepal_Width   Sepal_Length   Petal_Width   Petal_Length
Id          Species  SepalWidthCm  SepalLengthCm  PetalWidthCm  PetalLengthCm
1       Iris-setosa           3.5            5.1           0.2            1.4
2       Iris-setosa           3.0            4.9           0.2            1.4
3       Iris-setosa           3.2            4.7           0.2            1.3
4       Iris-setosa           3.1            4.6           0.2            1.5
..              ...           ...            ...           ...            ...
146  Iris-virginica           3.0            6.7           2.3            5.2
147  Iris-virginica           2.5            6.3           1.9            5.0
148  Iris-virginica           3.0            6.5           2.0            5.2
149  Iris-virginica           3.4            6.2           2.3            5.4
150  Iris-virginica           3.0            5.9           1.8            5.1

[151 rows x 5 columns]

In [14]:
iris.sort_values(by="Sepal_Length")

      Sepal_Length   Sepal_Width   Petal_Length   Petal_Width         Species
14             4.3           3.0            1.1           0.1     Iris-setosa
39             4.4           3.0            1.3           0.2     Iris-setosa
43             4.4           3.2            1.3           0.2     Iris-setosa
9              4.4           2.9            1.4           0.2     Iris-setosa
42             4.5           2.3            1.3           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
119            7.7           2.6            6.9           2.3  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
132            7.9           3.8            6.4           2.0  Iris-virginica
Id   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species

[151 rows x 5 columns]

In [15]:
irisiloc[5]

NameError: name 'irisiloc' is not defined

In [16]:
iris.iloc[5]

Sepal_Length            5.0
Sepal_Width             3.6
Petal_Length            1.4
Petal_Width             0.2
Species         Iris-setosa
Name: 5, dtype: object

In [17]:
iris[0:3

SyntaxError: unexpected EOF while parsing (2622508911.py, line 1)

In [18]:
iris[0:3]

     Sepal_Length   Sepal_Width   Petal_Length   Petal_Width      Species
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa

In [19]:
iris.loc[:, ["Sepal_Length","Petal_Length"]]

      Sepal_Length   Petal_Length
Id   SepalLengthCm  PetalLengthCm
1              5.1            1.4
2              4.9            1.4
3              4.7            1.3
4              4.6            1.5
..             ...            ...
146            6.7            5.2
147            6.3            5.0
148            6.5            5.2
149            6.2            5.4
150            5.9            5.1

[151 rows x 2 columns]

In [20]:
iris.iloc[:n:]

NameError: name 'n' is not defined

In [21]:
iris.iloc[:5,:]

     Sepal_Length   Sepal_Width   Petal_Length   Petal_Width      Species
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa

In [22]:
iris.iloc[:, :9]

      Sepal_Length   Sepal_Width   Petal_Length   Petal_Width         Species
Id   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[151 rows x 5 columns]

In [23]:
iris.iloc[:4, :111]

     Sepal_Length   Sepal_Width   Petal_Length   Petal_Width      Species
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa

In [24]:
iris.iloc[3:5, 0:2]

  Sepal_Length Sepal_Width
3          4.7         3.2
4          4.6         3.1

In [25]:
iris.iloc[[1, 2,4], [0, 2]]

  Sepal_Length Petal_Length
1          5.1          1.4
2          4.9          1.4
4          4.6          1.5

In [26]:
iris.iloc[1:3, :]

  Sepal_Length Sepal_Width Petal_Length Petal_Width      Species
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9         3.0          1.4         0.2  Iris-setosa

In [27]:
iris.iloc[:, 1:5]

      Sepal_Width   Petal_Length   Petal_Width         Species
Id   SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1             3.5            1.4           0.2     Iris-setosa
2             3.0            1.4           0.2     Iris-setosa
3             3.2            1.3           0.2     Iris-setosa
4             3.1            1.5           0.2     Iris-setosa
..            ...            ...           ...             ...
146           3.0            5.2           2.3  Iris-virginica
147           2.5            5.0           1.9  Iris-virginica
148           3.0            5.2           2.0  Iris-virginica
149           3.4            5.4           2.3  Iris-virginica
150           3.0            5.1           1.8  Iris-virginica

[151 rows x 4 columns]

In [28]:
iris.iloc[1, 4]

'Iris-setosa'

In [29]:
iris['Sepal_Length'].iloc[5]

'5.0'

In [30]:
data=iris.columns[2:4]

iris[data]

      Petal_Length   Petal_Width
Id   PetalLengthCm  PetalWidthCm
1              1.4           0.2
2              1.4           0.2
3              1.3           0.2
4              1.5           0.2
..             ...           ...
146            5.2           2.3
147            5.0           1.9
148            5.2           2.0
149            5.4           2.3
150            5.1           1.8

[151 rows x 2 columns]

In [31]:
iris[iris.columns[2:4]].iloc[5:10]

  Petal_Length Petal_Width
5          1.4         0.2
6          1.7         0.4
7          1.4         0.3
8          1.5         0.2
9          1.4         0.2

In [32]:
 iris.isnull()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
Id          False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False
150         False        False         False        False    False

[151 rows x 5 columns]

In [33]:
iris.isnull().any()

Sepal_Length    False
Sepal_Width     False
Petal_Length    False
Petal_Width     False
Species         False
dtype: bool

In [34]:
 iris.isnull().sum().sum()

0

In [35]:
 iris.isnull().sum(axis = 1)

Id     0
1      0
2      0
3      0
4      0
      ..
146    0
147    0
148    0
149    0
150    0
Length: 151, dtype: int64

In [36]:
iris.isnull().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [37]:
iris.isna().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [38]:
iris.Sepal_Length.isnull().sum()

0

In [39]:
iris.groupby(['Sepal_Length'])['Petal_Length'].apply(lambda x:x.isnull().sum())

Sepal_Length
4.3              0
4.4              0
4.5              0
4.6              0
4.7              0
4.8              0
4.9              0
5.0              0
5.1              0
5.2              0
5.3              0
5.4              0
5.5              0
5.6              0
5.7              0
5.8              0
5.9              0
6.0              0
6.1              0
6.2              0
6.3              0
6.4              0
6.5              0
6.6              0
6.7              0
6.8              0
6.9              0
7.0              0
7.1              0
7.2              0
7.3              0
7.4              0
7.6              0
7.7              0
7.9              0
SepalLengthCm    0
Name: Petal_Length, dtype: int64

In [40]:

from sklearn import preprocessing
iris = load_iris()
df = pd.DataFrame(iris.data,columns=iris.feature_names)

NameError: name 'load_iris' is not defined

In [41]:
import sklearn

In [42]:
from sklearn.datasets import load_iris
iris1 = load_iris()
df = pd.DataFrame(iris1.data,columns=iris1.feature_names)

In [43]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [44]:
x = df[['sepal length (cm)']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_normalized = pd.DataFrame(x_scaled)
df_normalized

            0
0    0.222222
1    0.166667
2    0.111111
3    0.083333
4    0.194444
..        ...
145  0.666667
146  0.555556
147  0.611111
148  0.527778
149  0.444444

[150 rows x 1 columns]

In [45]:
iris['Species'].unique()

array(['Species', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [46]:
label_encoder = preprocessing.LabelEncoder()
df['Species']= label_encoder.fit_transform(df['Species'])
df['Species'].unique()

KeyError: 'Species'

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
iris['Species']= label_encoder.fit_transform(iris['Species'])

In [47]:
iris['Species'].unique()

array(['Species', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [48]:
iris['Species'].unique()

array(['Species', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [49]:
features_iris=iris.drop(columns=['Species'])
enc = preprocessing.OneHotEncoder()
enc_iris=pd.DataFrame(enc.fit_transform(iris[['Species']])).toarray()

AttributeError: 'DataFrame' object has no attribute 'toarray'

In [50]:
features_iris=iris.drop(columns=['Species'])
enc = preprocessing.OneHotEncoder()
enc_iris=pd.DataFrame(enc.fit_transform(iris[['Species']]))

In [51]:
df_encode = features_df.join(enc_df)
df_encode

NameError: name 'features_df' is not defined

In [52]:
iris_encode = features_iris.join(enc_iris)
iris_encode

      Sepal_Length   Sepal_Width   Petal_Length   Petal_Width    0
Id   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  NaN
1              5.1           3.5            1.4           0.2  NaN
2              4.9           3.0            1.4           0.2  NaN
3              4.7           3.2            1.3           0.2  NaN
4              4.6           3.1            1.5           0.2  NaN
..             ...           ...            ...           ...  ...
146            6.7           3.0            5.2           2.3  NaN
147            6.3           2.5            5.0           1.9  NaN
148            6.5           3.0            5.2           2.0  NaN
149            6.2           3.4            5.4           2.3  NaN
150            5.9           3.0            5.1           1.8  NaN

[151 rows x 5 columns]

In [53]:
iris_encode.rename(columns = {0:'Iris-Setosa',
1:'Iris-Versicolor',2:'Iris-virginica'}, inplace = True)
iris_encode

      Sepal_Length   Sepal_Width   Petal_Length   Petal_Width Iris-Setosa
Id   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         NaN
1              5.1           3.5            1.4           0.2         NaN
2              4.9           3.0            1.4           0.2         NaN
3              4.7           3.2            1.3           0.2         NaN
4              4.6           3.1            1.5           0.2         NaN
..             ...           ...            ...           ...         ...
146            6.7           3.0            5.2           2.3         NaN
147            6.3           2.5            5.0           1.9         NaN
148            6.5           3.0            5.2           2.0         NaN
149            6.2           3.4            5.4           2.3         NaN
150            5.9           3.0            5.1           1.8         NaN

[151 rows x 5 columns]

In [54]:
enc_iris=pd.(DataFrame(enc.fit_transform(iris[['Species']])).toarray())

SyntaxError: invalid syntax (1959214794.py, line 1)

In [55]:
df=DataFrame(enc.fit_transform(iris[['Species']]))
enc_iris=pd.df.toarray()

NameError: name 'DataFrame' is not defined

In [56]:
df=pd.DataFrame(enc.fit_transform(iris[['Species']]))
enc_iris=df.toarray()

AttributeError: 'DataFrame' object has no attribute 'toarray'